/* @media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #121212;
    }
    .dark-mode {
        color: #eee;
        background: #121212;

    }
  
    /* body a {
      color: #809fff;
    }
    h1, h2, h3 {
        color:white;
    }
} */

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #bd5d38;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #bd5d38;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

body {
    --text-color: #212529;
    --bkg-color: red;
  }
  body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
  }
  .timeline-panel {
      background: var(--gray-dark);
  }
  
  @media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
      --text-color: #eee;
      --bkg-color: #121212;
    }
    body.light-theme {
      --text-color: #212529;
      --bkg-color: red;
    }
    .timeline-panel {
        background: var(--secondary);
        }
  }
  
  body {
    background: black;
  }
  
  h1,h2,h3,p
  {
    color: var(--light);
  }

  .timeline > li > .timeline-panel {
      background: var(--dark);
  }

  .subheading {
      color: var(--secondary);
  }

  .bg-primary {
      background-color: var(--dark) !important;
  }
  .bg-light {
      background-color: var(--black) !important;
  }

  hr {
      border-top: 1px solid white;
  }

  li {
      color: var(--light);
      }
      img {
          filter: grayscale(80%);
      }